{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<h1>{{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="choice{{ forloop.counter }}">
  <input type="radio" class="mdl-radio__button" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
  <span class="mdl-radio__label">{{ choice.choice_text }}</span>
</label>
<br/>
{% endfor %}
<br/>
<input type="submit" class="mdl-button mdl-js-button mdl-button--raised" value="Vote" />
</form>